<!doctype html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>INFORMATION</title>
    <link rel="stylesheet" type="text/css" href="/css/tutorial.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <ul class="navi">
      <li><a href="./index.html">HOME</a></li>
      <li><a href="./top.html">TOP-PAGE</a>
        <ul>
          <li><a href="./err.html">LIST_DOWN1</a></li>
          <li><a href="./err.html">LIST_DOWN2</a></li>
        </ul>
      </li>
      <li><a href="./main.html">MAIN-PAGE</a>
        <ul>
          <li><a href="./err.html">LIST_DOWN3</a></li>
          <li><a href="./err.html">LIST_DOWN4</a></li>
        </ul>
      </li>
    <!--navi--></ul>

    <h1>tutorialWebPageIndex</h1>
    <p>tutorialで作成したWEBページのIndexです。</p>
  </body>
</html>
