<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>INFORMATION</title>
    <link rel="stylesheet" href="/css/tutorial.css">
  </head>
  <body>
    <h2>MainPage</h2>
    <p>tutorialで作成したWEBページのメイン画面です。</p>
    <div>
      <p>名前と年齢を入力してください。</p>
      <form method="POST">
        名前：<input type="text" name="name"><br/>
        年齢：<input type="number" name="age"><br/>
        <input type="submit">
    </div>
    <button onclick="location.href='./index.html'">目次画面</button>
  </body>
</html>
